{#
/**
 * @file
 * Default theme implementation for a media image item.
 *
 * Available variables:
 * - media: The media entity with limited access to object properties and
 *   methods. Only method names starting with "get", "has", or "is" and
 *   a few common methods such as "id", "label", and "bundle" are available.
 * - name: Name of the media item.
 * - content: All media items. Use {{ content }} to print them all.
 *   Use {{ content.field_example }} to print a specific field.
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - label: The title of the media item.
 * - url: Direct URL of the current media item.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'media',
    'media--type-' ~ media.bundle()|clean_class,
    not media.isPublished() ? 'media--unpublished',
    view_mode ? 'media--view-mode-' ~ view_mode|clean_class,
  ]
%}
<figure{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label is not empty %}
    <span{{ title_attributes }}>{{ label }}</span>
  {% endif %}
  {{ title_suffix }}
  <div{{ content_attributes.addClass('media__content') }}>
    {{ content|without('field_media_credit') }}
  </div>
  {% if content.field_media_credit|render|striptags|trim is not empty %}
    <figcaption class="media__credit">
      {{- content.field_media_credit -}}
    </figcaption>
  {% endif %}
</figure>
