{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - media: The media item, with limited access to object properties and
 *   methods.
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see \Drupal\media\MediaThemeHooks::preprocessMedia
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'media',
    'media--type-' ~ media.bundle()|clean_class,
    not media.isPublished() ? 'media--unpublished',
  ]
%}
<figure{{attributes.addClass(classes)}}>
	{{ title_suffix.contextual_links }}
	{% if content %}
  <div class="image">
		{{ content|without('field_media_caption', 'field_media_credit') }}
{%if not media.field_media_caption.isEmpty() %}
  <span class="image-credit">{{ media.field_media_credit.value }}</span>
{%endif %}
    </div>
	{% endif %}
  {%if not media.field_media_caption.isEmpty() %}
    <figcaption>{{ media.field_media_caption.value }}</figcaption>
  {% endif %}
</figure>
